<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-sm-5 px-3">
  <a class="navbar-brand" routerLink="">FitFocus</a>
  <i class="bi bi-list" (click)="toggleNavbar()"></i>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto w-100">
      <li
        *appAuth
        class="nav-item"
        routerLink="workouts"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link">Workouts</a>
      </li>
      <li
        *appAuth
        class="nav-item"
        routerLink="exercises"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link">Exercises</a>
      </li>
      <li
        *appAuth
        class="nav-item"
        routerLink="bodyweight"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link">Bodyweight</a>
      </li>
      <li
        id="my-profile"
        class="nav-item dropdown"
        style="margin-left: auto"
        dropdown
        #dropdown="bs-dropdown"
        [autoClose]="true"
        *appAuth
      >
        <a
          id="button-basic"
          class="nav-link dropdown-toggle"
          dropdownToggle
          type="button"
          aria-controls="dropdown-basic"
        >
          My profile
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          *dropdownMenu
          id="dropdown-basic"
          role="menu"
          aria-labelledby="button-basic"
        >
          <a class="dropdown-item" routerLink="profile"
            ><i class="bi bi-person"></i> My profile</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="signout()" style="cursor: pointer"
            ><i class="bi bi-box-arrow-right"></i> Sign out</a
          >
        </div>
      </li>
    </ul>
  </div>

  <div class="responsive-menu" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav mr-auto w-100">
      <li
        *appAuth
        class="nav-item"
        routerLink="workouts"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link" (click)="toggleNavbar()">Workouts</a>
      </li>
      <li
        *appAuth
        class="nav-item"
        routerLink="exercises"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link" (click)="toggleNavbar()">Exercises</a>
      </li>
      <li
        *appAuth
        class="nav-item"
        routerLink="bodyweight"
        routerLinkActive="active"
        style="cursor: pointer"
      >
        <a class="nav-link" (click)="toggleNavbar()">Bodyweight</a>
      </li>
      <li
        class="nav-item"
        routerLink="profile"
        routerLinkActive="active"
        *appAuth
      >
        <a class="nav-link" routerLink="profile" (click)="toggleNavbar()"
          >My profile</a
        >
      </li>
      <li class="nav-item" *appAuth>
        <a
          class="nav-link"
          (click)="signout(); toggleNavbar()"
          style="cursor: pointer"
          >Sign out</a
        >
      </li>
      <i class="bi bi-x-circle" (click)="toggleNavbar()"></i>
    </ul>
  </div>
</nav>
