<div class="modal-header">
  <h4 class="modal-title pull-left">Log Your Bodyweight</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form
  [formGroup]="newLog"
  class="modal-body d-flex flex-column justify-content-start"
>
  <div class="mb-3 d-flex flex-column col-12">
    <label for="date" class="col-lg-4 col-12">Date</label>
    <div class="align-items-center d-flex flex-row">
      <input
        type="text"
        placeholder="Datepicker"
        class="form-control col-lg-8 col-12 pointer"
        bsDatepicker
        formControlName="date"
        (keydown)="disableTyping($event)"
        [bsValue]="defaultDate"
        [maxDate]="defaultDate"
      />
      <i class="bi bi-calendar-date icons-inside-input"></i>
    </div>
  </div>
  <div class="mb-3 d-flex flex-column col-12">
    <label for="bodyweight" class="col-4">Bodyweight</label>
    <div class="align-items-center d-flex flex-row">
      <input
        type="text"
        id="bodyweight"
        formControlName="bw"
        class="form-control col-8"
        maxlength="4"
      />
      <span class="icons-inside-input">kg</span>
    </div>
  </div>
  <div class="mb-3 d-flex flex-column col-12">
    <label for="bodyfat" class="col-4">Bodyfat Percentage</label>
    <div class="align-items-center d-flex flex-row">
      <input
        type="text"
        id="bodyfat"
        formControlName="bf"
        class="form-control col-8"
        maxlength="4"
      />
      <span class="icons-inside-input">%</span>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button
      class="btn btn-primary"
      (click)="logBodyweight()"
      [disabled]="newLog.invalid"
    >
      Save
    </button>
  </div>
</form>
