<div class="container mt-1">
  <tabset>
    <tab heading="Workouts" #tabC="tab">
      @if(tabC.active){
      <app-workouts class="user-func-page-heading"></app-workouts>
      }
    </tab>
    <tab heading="Exercises" #tabB="tab">
      <app-exercises
        *ngIf="tabB.active"
        class="user-func-page-heading"
      ></app-exercises>
    </tab>
    <tab heading="Bodyweight" #tabA="tab">
      <app-bodyweight
        *ngIf="tabA.active"
        class="user-func-page-heading"
      ></app-bodyweight>
    </tab>
  </tabset>
</div>
